body {
  background-image: url("./app/img/assets/PhonX Collage.png");
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
  background-width: 40px;
}

.newBackDrop {
  background-image: url("./app/img/assets/PhonX.jpg");
}

.col {
  /*background-image: url("./app/img/assets/PhonX Collage.png");*/
  border-radius: 30px;
  border: 4px solid purple;
  background: red;
  height: 400px;
}

/*#trial {
  width: 1200px;
  height: 2px;
  position: fixed;
  top: 588px;
  background: red;
}

#trial2 {
  width: 1200px;
  height: 2px;
  position: fixed;
  top: 680px;
  background: red;
}*/

#mask{
    position:absolute; /* important */
    top:0px; /* start from top */
    left:0px; /* start from left */
    height:100%; /* cover the whole page */
    width:100%;  /* cover the whole page */
    display:none; /* don't show it '*/

    /* styling bellow */
    background-color: black;
}

.modal_window{
    position:absolute; /* important so we can position it on center later */
    display:none; /* don't show it */

    /* styling bellow */
    color:white;
}

/* style a specific modal window  */
#modal_window{
    padding:50px;
    border:1px solid gray;
    background: #246493;
    color:black;
}

#game_container {
  margin-top: 40px;
  margin: 20px 30%;
  width: 450px;
  padding: 0;
  color: darkgrey;
}

.missedNoteBoarder {
  box-shadow: 0 0 80px red;
}

.MULTImissedNoteBoarder {
  box-shadow: 0 0 180px red;
}

.star_power {
  box-shadow: 0 0 180px gold;
}
.star_power1 {
  box-shadow: 0 0 180px pink;
}
/*.star_power2 {
  box-shadow: 0 0 180px orange;
}*/
.star_power3 {
  box-shadow: 0 0 180px purple;
}
.star_power4 {
  box-shadow: 0 0 180px limegreen;
}
.star_power5 {
  box-shadow: 0 0 180px lightblue;
}







